

<p>
  <%= @greeting %> <%= @user.username %>,
</p>

<p> Welcome to Gigit!</p>
<p> The only platform that enables musicians to easily find bars that accept Gigs, book a date and increase their reputation across the city.</p>

<p> <strong> Let's Gigit ! </strong></p>


