

<div class="container">
  <div class="row">
    <% @bars.each do |b| %>
      <%= render 'bar', bar: b %>
    <!--   <%= render @bars %> en fait Rails comprend qu'il doit chercher une
      collection et aller chercher un partial du même nom au singulier ainsi
      qu'affecter au mot "bar" du partial la valeur de |b|.%> -->
    <% end %>
  </div>
</div>
