<div class="container">
  <% @bookings.each do |booking| %>
    <div class="col-xs-12">
      <div>
        <ul style="list-style: none">
          <li>
            <h3>Rendez-vous au : <%= booking.bar.name %></h3>
            <p><%= booking.booking_date.strftime("Le %d/%m/%Y") %></p>
            <p>
              <% 10.times do %>
                <%= '<i class="fa fa-music"></i>'.html_safe %>
              <% end %>
            </p>
            <%= render '/bars/bar', bar: booking.bar %>
          </li>
        </ul>

      </div>
    </div>
  <% end %>
</div>

