
<div class="wrapper">
  <div class="banner">
    <div class="banner-content">
      <div class="brand neon" >Gig It !</div>
      <p>and lead your band to fame and glory</p>
      <div class="search-bar">
        <%= render 'home_search_bar' %>
      </div>
    </div>
  </div>
</div>

<div class="benefits text-center">
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <h3> DISCOVER </h3>
      <p> Bars which are looking for bands to play live music </p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-book" aria-hidden="true"></i>
      <h3> BOOK </h3>
      <p> Easily online and plan ahead your gigs !</p>
    </div>
    <div class="col-sm-4">
    <i class="fa fa-money" aria-hidden="true"></i>
      <h3> REVENUES </h3>
      <p> Get more bookings as your reputation improves </p>
    </div>
  </div>
</div>
<div class="container-index">
  <h2 class="index_title"> - Last booked bars - </h2>
  <div class="row">
    <% @last_booked_bars.each do |b| %>
      <div class="col-xs-12 col-sm-6">
        <%= render 'shared/bar_card', bar: b %>
      </div>
    <% end %>
  </div>
</div>
