.banner_bar {
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  position: relative;
  height: 400px;
  max-width: 100%;
  background-size: cover !important;
  .bar_description {
    position: absolute;
    top: 10px;
    .bar_title {
    font-size: 80px;
    }
    .bar_address {
    font-style: italic;
    }
  }
  .bar_price {
  position: absolute;
  bottom: 10px;
  right: 200px;
  font-size: 50px;
  }
  .bar_specificities {
    position: absolute;
    bottom: 20px;
    .bar_rating {
      font-size: 30px;
    }
    .bar_genre {
    text-decoration: underline;
    font-size: 20px;
    }
  }
}
