.card {
  height: 250px;
  position: relative;
  max-width: 100%;
  margin: 20px;
  border-radius: 5px;
  background-size: cover;
  opacity: 0.3;
  box-shadow: 0px 0px 30px -2px $red;
  color: white;
  &:hover {
    opacity: 0.9;
    border: 2px solid $red;
  }
  h2 {
  font-weight: bold;
  font-size: 30px;
  }
  p {
  font-weight: lighter;
  }
}

.card-price {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 25px;
}
.card-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: lighter;
 }

.card-user-count {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: lighter;
}

.card-genre {
  position: absolute;
  top: 10px;
  right: 10px;
  font-style: italic;
  font-weight: lighter;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
}
