.card {
  height: 250px;
  position: relative;
  max-width: 100%;
  margin: 20px;
  border-radius: 5px;
  background-size: cover;
  opacity: 0.75;
  box-shadow: $box-shadow;
  color: white;
  &:hover {
    opacity: 0.9;
  }
}
.card-price {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  font-weight: lighter;
  color: white;
}
.card-bar {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
  h2 {
  font-weight: bold;
  font-size: 30px;
  .star {
    margin: 5px;
    color: white;
  }
  }
  p {
  font-weight: lighter;
  }
 }

.card-user-count {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: lighter;
  color: white;
}

.card-genre {
  position: absolute;
  top: 40px;
  right: 20px;
  font-style: italic;
  font-weight: lighter;
  color: white;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  color: white;
  &:hover {
    border: 2px solid $red;
    border-radius: 5px;
  }
}
