.booking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 3px;
  box-shadow: 0px 0px 69px -2px rgba(255,0,0,1);
  background: black;
  color: white;
  margin: 20px;
}

.booking:hover {
  border: solid 1px #FF0000;
}

.booking-half {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 350px;
}

.booking-delete {
  position: absolute;
  bottom: 5px;
  left: 0px;
  .links:hover {
    color: red !important;
  }
}
